.category {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../../../assets/bg/category-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.react-tabs__tab--selected {
  background: linear-gradient(
    270deg,
    rgba(194, 224, 235, 1) 0%,
    rgba(184, 220, 182, 1) 100%
  );
}
