.category {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../../../assets/bg/category-bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
