@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fredoka", sans-serif;
}
.errorPage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.616),
      rgba(255, 255, 255, 0.685)
    ),
    url("../src/assets/error-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
