@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fredoka", sans-serif;
}
.errorPage {
  background-image: linear-gradient(
      rgba(219, 38, 38, 0.8),
      rgba(172, 18, 18, 0.3)
    ),
    url("../src/assets/bg/errorPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
